

























































































div {
  width: 100px;
  height: 100px;
  background-color: green;
  border: 10px blue;
  margin: 25px;
  opacity: .75;
  float: left; 
}
